.activity-legend {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 5px;
}

.simple-calendar {
  ul.activity-entries {
    margin: 0;
    padding: 0;
    list-style-type: none;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;

    .activity {
      display: block;
    }

  }

  span.day-cell {
    position: absolute;
  }

  .day {}

  .wday-0 {}
  .wday-1 {}
  .wday-2 {}
  .wday-3 {}
  .wday-4 {}
  .wday-5 {}
  .wday-6 {}

  .today {}
  .past {}
  .future {}

  .start-date {}

  .prev-month {
    background: transparent;
  }
  .next-month {
    background: transparent;
  }
  .current-month {
    background: transparent;
  }

  .has-events {}
}
